.screen {
    margin-top: 20px;
    border-radius: 20px;
    border: solid 20px #d4d4d4;
    border-bottom-width: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    height: 600px;
    overflow: hidden;
}
