.screen {
    display: flex;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(230, 216, 160, 1) 0%,
        rgba(43, 43, 43, 1) 49%,
        rgba(43, 43, 43, 1) 51%,
        rgba(171, 195, 215, 1) 100%
    );
    height: 600px;
    overflow: hidden;
    width: fit-content;
    border: solid 1px #afafaf;
}
