body {
    margin: 0;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    overflow: hidden;
    background-color: #2b2b2b;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-container {
    min-width: '100%';
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.render-target {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
